<header class="masthead bg-primary text-white text-center">
  <div class="container">
    <!-- <img class="img-fluid mb-5 d-block mx-auto" src="gossip.jpg" alt="image not found"> -->
    <%= image_tag("gossip.jpg", :class => "img-circle img-fluid mb-5 d-block mx-auto", width: '200px') %>
    <h1 class="text-uppercase mb-0">Top Gossip</h1>
    <hr class="star-light">
    <h2 class="font-weight-light mb-0">Secrets  -  Rumours  -  Hearsay</h2>
  </div>
</header>

<section class="portfolio" id="gossip">
  <div class="container">
    <h2 class="text-center text-uppercase text-secondary mb-0">Gossipy Posts</h2>
    <hr class="star-dark mb-5">
    <div class="col-lg-5 col-lg-offset-3">
      <% @posts.each do |post|%>
        <% if logged_in? %>
          <% author = post.user.name %>
        <% else %>
          <% author = "Anonymous" %>
        <% end %>
        <div class="post-preview">
          <h4 class="post-title">
            <%= post.title %>
          </h4>
          <p class="post-meta"> Posted by <b> <%= author %> </b> on <%= post.created_at.strftime("%B %d, %Y") %> </p>
          <p> <%= post.body %> </p><br>
        </div>
      <% end %>
    </div>
  </div>
</section>
